<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- favicons  start  -->
    <link rel="icon" href="/fav/favicon.ico?v=2" />
    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png?v=2" />
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png?v=2" />
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon.png?v=2" />
    <!-- favicons end  -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body onload="passCode()">
    working
    <script src="/components/her.js"></script>
  </body>
</html>
