<!-- 39_code //  views // main // platform.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platforms links</title>
</head>
<body>
    platform are working
</body>
</html>