<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated Slider</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');



        /*Carousel*/

        .carousel {
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            position: relative;
        }

        .carousel .list .item {
            width: 180px;
            height: 250px;
            position: absolute;
            top: 80%;
            transform: translateY(-70%);
            left: 70%;
            border-radius: 20px;
            box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
            background-position: 50% 50%;
            background-size: cover;
            z-index: 100;
            transition: 1s;
        }

        .carousel .list .item:nth-child(1),
        .carousel .list .item:nth-child(2) {
            top: 0;
            left: 0;
            transform: translate(0, 0);
            border-radius: 0;
            width: 100%;
            height: 100%;
        }

        .carousel .list .item:nth-child(3) {
            left: 67%;
        }

        .carousel .list .item:nth-child(4) {
            left: calc(67% + 200px);
        }

        .carousel .list .item:nth-child(5) {
            left: calc(67% + 400px);
        }

        .carousel .list .item:nth-child(6) {
            left: calc(67% + 600px);
        }

        .carousel .list .item:nth-child(n + 7) {
            left: calc(67% + 800px);
            opacity: 0;
        }

        .item .content {
            position: absolute;
            top: 50%;
            left: 100px;
            transform: translateY(-50%);
            width: 400px;
            text-align: left;
            color: #FFFFFF;
            display: none;
        }

        .list .item:nth-child(2) .content {
            display: block;
        }

        .content .title {
            font-size: 100px;
            text-transform: uppercase;
            color: #14FF72CB;
            font-weight: bold;
            line-height: 1;
            opacity: 0;
            animation: animate 1s ease-in-out .3s 1 forwards;
        }

        .content .name {
            font-size: 100px;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 1;
            text-shadow: 3px 4px 4px rgba(255, 255, 255, 0.8);
            opacity: 0;
            animation: animate 1s ease-in-out .6s 1 forwards;
        }

        .content .des {
            margin-top: 10px;
            margin-bottom: 20px;
            font-size: 18px;
            margin-left: 5px;
            opacity: 0;
            animation: animate 1s ease-in-out .9s 1 forwards;
        }

        .content .btn {
            margin-left: 5px;
            opacity: 0;
            animation: animate 1s ease-in-out 1.2s 1 forwards;
        }

        @keyframes animate {
            from {
                opacity: 0;
                transform: translate(0, 100px);
                filter: blur(33px);
            }

            to {
                opacity: 1;
                transform: translate(0);
                filter: blur(0);
            }
        }

        .content .btn button {
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            border: 2px solid #FFFFFF;
        }

        .content .btn button:nth-child(1) {
            margin-right: 15px;
        }

        .content .btn button:nth-child(2) {
            background: transparent;
            color: #14FF72CB;
            border: 2px solid #FFFFFF;
            transition: .3s;
        }

        .content .btn button:nth-child(2):hover {
            background: #14FF72CB;
            color: #FFFFFF;
            border-color: #14FF72CB;
        }

        .arrows {
            position: absolute;
            top: 80%;
            right: 52%;
            z-index: 100;
            width: 300px;
            max-width: 30%;
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .arrows button {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #14FF72CB;
            color: #FFFFFF;
            border: none;
            outline: none;
            font-size: 16px;
            font-family: monospace;
            font-weight: bold;
            transition: .5s;
            cursor: pointer;
        }

        .arrows button:hover {
            background: #FFFFFF;
            color: #000000;
        }



        @keyframes runningTime {
            from {
                width: 0%;
            }

            to {
                width: 100%;
            }
        }

        /*Media Queries*/

        @media screen and (max-width: 999px) {
            header {
                padding-left: 50px;
            }

            .list .item .content {
                left: 50px;
            }

            .content .title,
            .content .name {
                font-size: 70px;
            }

            .content .des {
                font-size: 16px;
            }
        }

        @media screen and (max-width: 690px) {
            header nav a {
                font-size: 14px;
                margin-right: 0;
            }

            .list .item .content {
                top: 40%;
            }

            .content .title,
            .content .name {
                font-size: 45px;
            }

            .content .btn button {
                padding: 10px 15px;
                font-size: 14px;
            }
        }

        @media screen and (max-width: 450px) {
            .item .content {
                width: 300px;
            }

            .list .item .content {
                left: 20px;
            }
        }
    </style>
</head>

<body>
    <div class="carousel">
        <div class="list">

            <div class="item" style="background-image: url('https://www.pixelstalk.net/wp-content/uploads/images6/Coding-Wallpaper-HD-Free-download.jpg');">
                <div class="content">
                    <div class="title">Node and js</div>
                    <div class="name">Developer</div>
                    <div class="des">Eagles are majestic birds of prey known for their incredible strength, sharp
                        vision, and powerful talons</div>
                    <div class="btn">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url('https://i.pinimg.com/originals/6a/9d/9d/6a9d9d1ad1c80aac45914996fa4104db.jpg?nii=t');">
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">OWL</div>
                    <div class="des">Owls are nocturnal birds of prey, shrouded in an aura of mystery and wisdom</div>
                    <div class="btn">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url('https://u.cubeupload.com/Leo21/crow.jpg');">
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">CROW</div>
                    <div class="des">Crows are highly intelligent and adaptable birds known for their glossy black
                        plumage and distinctive calls.</div>
                    <div class="btn">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url('https://u.cubeupload.com/Leo21/butterfly1.jpeg');">
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">BUTTERFLY</div>
                    <div class="des">Butterflies, with their vibrant wings and graceful flight, are a symbol of
                        transformation and beauty in the natural world</div>
                    <div class="btn">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url('https://u.cubeupload.com/Leo21/owl2.jpg');">
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">OWL</div>
                    <div class="des">Owls have long been associated with mystery, wisdom, and the supernatural in
                        various cultures</div>
                    <div class="btn">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url('https://u.cubeupload.com/Leo21/eagel3.jpg');">
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">EAGLE</div>
                    <div class="des">Eagles represent freedom, power, and nobility in many cultures</div>
                    <div class="btn">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url('https://u.cubeupload.com/Leo21/kingfirser2.jpeg');">
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">KINGFISHER</div>
                    <div class="des">Kingfishers, with their dazzling plumage, are vibrant jewels of the aquatic world
                    </div>
                    <div class="btn">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url('https://u.cubeupload.com/Leo21/parrot2.jpg');">
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">PARROT</div>
                    <div class="des">Parrots are social creatures, often living in flocks and exhibiting complex
                        communication patterns</div>
                    <div class="btn">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url('https://u.cubeupload.com/Leo21/heron.jpeg');">
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">HERON</div>
                    <div class="des">Herons are known for their striking appearance, often characterized by graceful
                        necks and stilt-like legs</div>
                    <div class="btn">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url('https://u.cubeupload.com/Leo21/butterfly2.jpg');">
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">BUTTERFLY</div>
                    <div class="des">Butterflies, with their delicate wings and vibrant colors, are among the most
                        enchanting creatures in the natural world</div>
                    <div class="btn">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url('https://u.cubeupload.com/Leo21/parrot1.jpg');">
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">PARROT</div>
                    <div class="des">Parrots are known for their long lifespans, with some species living for several
                        decades</div>
                    <div class="btn">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="arrows">
            <button class="prev">
                << <button class="next">>
            </button>
        </div>

        <div class="timeRunning"></div>
    </div>

    <script>
        var nextBtn = document.querySelector('.next');
        var prevBtn = document.querySelector('.prev');
        var carousel = document.querySelector('.carousel');
        var list = document.querySelector('.list');
        var item = document.querySelector('.item');
        var runningTime = document.querySelector('.timeRunning');

        let timeRunning = 3000;
        let timeAutoNext = 3000;

        nextBtn.onclick = function () {
            showSlider('next');
        }

        prevBtn.onclick = function () {
            showSlider('prev');
        }

        let runTimeOut;

        let runNextAuto = setTimeout(() => {
            nextBtn.click();
        }, timeAutoNext);

        function resetTimeAnimation() {
            runningTime.style.animation = 'none';
            runningTime.offsetHeight;
            runningTime.style.animation = null;
            runningTime.style.animation = 'runningTime 7s linear 1 forwards';
        }

        function showSlider(type) {
            let sliderItemsDom = list.querySelectorAll('.carousel .list .item');

            if (type === 'next') {
                list.appendChild(sliderItemsDom[0]);
                carousel.classList.add('next');
            } else {
                list.prepend(sliderItemsDom[sliderItemsDom.length - 1]);
                carousel.classList.add('prev');
            }

            clearTimeout(runTimeOut);

            runTimeOut = setTimeout(() => {
                carousel.classList.remove('next');
                carousel.classList.remove('prev');
            }, timeRunning)

            clearTimeout(runNextAuto);

            runNextAuto = setTimeout(() => {
                nextBtn.click();
            }, timeAutoNext)

            resetTimeAnimation();
        }

        resetTimeAnimation();
    </script>
</body>

</html>